<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <div>
        <div class="container" style="margin: 10px 200px;">
            <h1>Welcome</h1>
            <h3>Full Name: {{Full_Name}}</h3>
            <h3>Username: {{UserName}}</h3>
            <h3>Phone Number: {{Phone_number}}</h3>
            <h3>Email: {{email}}</h3>
            <h3>Password: {{password}}</h3>
            <h3>DOB: {{date}}</h3>
            <a href="{{youtube}}" target="_blank">Video Link</a>
        
        <br>
        <br>
        You have Logged In successfully. 
        <a href="/">Click here</a> to return to the Home page.
        
    </div>
    </div>
</body>
</html>